<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="utf-8">
  <title>Controle D</title>
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <link href="css/sb-admin.css" rel="stylesheet">
  <link href="css/site.css" rel="stylesheet">
  <head>
  <base href="/">
</head>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top" ng-app="app" >
  <!-- Navigation-->
  <nav ng-controller="HomeCtrl" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="#!/">Controle D</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul  class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li ng-if="loggedUserIsMedicOrAdmin()" class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="#!cadastrarPaciente">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Cadastrar Paciente</span> 
          </a>
        </li>
        <li ng-if="loggedUserIsMedicOrAdmin()" class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="#!listarPacientes">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Meus Pacientes</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="index.html">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Buscar Usuários</span>
          </a>
        </li>
        
        <li ng-if="loggedUserIsMedicOrAdmin()" class="nav-item" data-toggle="tooltip" data-placement="right" title="Relatórios">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text">Produto</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMulti">
            <li>
              <a href="#!adicionarProduto">Adicionar Produto</a>
            </li>
            <li>
              <a href="#">Adicionar Categoria</a>
            </li>
            <li>
              <a href="#!listarProdutos">Listar Produtos</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Relatórios">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text">Ver Relatórios</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMulti2">
            <li>
              <a href="#">Emitir Relatório 1</a>
            </li>
            <li>
              <a href="#">Emitir Relatório 2</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <form class="form-inline my-2 my-lg-0 mr-lg-2">
                  <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for...">
                    <span class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fa fa-search"></i>
                      </button>
                    </span>
                  </div>
                </form>
              </li>
              <li class="nav-item" ng-controller="loginController">
                <a class="nav-link" data-toggle="modal" ng-click="logOut()" data-target="#exampleModal">
                  <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                </li>
              </ul>
            </div>
          </nav>
          <div class="content-wrapper ">
            <div class="container-fluid">


<div ng-view> </div>

              <script src="js/angular/angular.min.js"></script>
  
              <script src="js/angular/angular-route.min.js"></script>
              <script src="js/angular/angular-resource.js"></script>
              <script src="js/angular/app.js"></script>
              <script src="js\angular\angular-local-storage.min.js"></script>
              <script src="Auth/AuthService.js"></script>
              <script src="Util/Util.js"></script>
              <script src="Auth/authInterceptorService.js"></script>
              <script src="Auth/loginController.js"></script>
              <script src="Auth/SignUpController.js"></script>
              <script src="produto/ProdutoFactory.js"></script>
              <script src="produto/ProdutoCtrl.js"></script>
              <script src="usuario/UsuarioFactory.js"></script>
              <script src="Role/RoleFactory.js"></script>
              <script src="diretivas/diretiva.js"></script>
              <script src="usuario/UsuarioCtrl.js"></script>
              <script src="home/HomeCtrl.js"></script>
              <script src="login/loginController.js"></script>
              
             

              <!-- Bootstrap core JavaScript-->
              <script src="/vendor/jquery/jquery.min.js"></script>
              <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
              <!-- Core plugin JavaScript-->
              <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
              <!-- Page level plugin JavaScript-->
              <script src="/vendor/chart.js/Chart.min.js"></script>
              <script src="/vendor/datatables/jquery.dataTables.js"></script>
              <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
              <!-- Custom scripts for all pages-->
              <script src="/js/sb-admin.min.js"></script>
              <!-- Custom scripts for this page-->
              <script src="/js/sb-admin-datatables.min.js"></script>
              <script src="/js/sb-admin-charts.min.js"></script>
            </div>
          </body>
          
              
          </html>
